body{
    margin: 10;
    font-family: monospace;
}

.page-header{
    background: url("./pics/pattern.jpeg");
    color: khaki;
    height: 100px;
    text-align: center;
    font-size: 3em; 
    padding-bottom: 20px;
}

#brush{
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: mediumspringgreen; 
    padding-left: 15px;
}

#paint{
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: lightcoral; 
    padding-left: 15px;
}

#frames{
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: skyblue; 
    padding-left: 15px;
}

.art-section{
  padding-top: 10px;
}

.picture{
    margin: 0;
}

.img-desc{
font-size: 2em;
font-weight: bold;
}

.product-info{
    font-size: 1.5em;
}

@media  (max-width: 568px) {
    .page-header{
        height: 470px;
        text-align: center;
        font-size: 32px;
    }
}

@media  (max-width: 1000px) {
    .page-header{
        height: 200px;
        text-align: center;
    }
}