html body{
    margin:0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
    text-align: center;
}

/*fixed header to top*/

.header{
  width: 100%;
  top: 0;
  position:fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color:black;
  display:flex;
  justify-content: space-between;
}

.logo{
  margin: 10px;
  height:50px;
}

.logo img{
  max-height: 100%;
}

.navbar{
  margin-right: 40px;
}

.navbar li {
  display: inline-block;
  text-decoration: underline;
  padding-left: 10px;
}

.mission{
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  background-size: cover;
  margin: 0 40px 40px 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mission-header{
    background-color: black;
    margin: auto;
    width: 100%;
}

.tea-container{
  width: 1000px;
  margin: auto;
}

.image-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-box{
  height: 200px;
  width: 300px;
  padding-bottom: 60px;
}


.image-box img{
  max-width: 100%;
  max-width: 100%;
  padding-bottom: 10px;
}


.locations-container{
  background-image: url(./images/img-locations-background.jpg);
  background-size: cover;
  height: 500px;
  margin: 80px 40px 40px 40px;
  padding-top: 70px;
}

.locations-container h2 {
  margin-bottom: 15px;
}

.locations-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location{
  background-color:black;
  width: 300px;
  height: 300px;
  margin-right: 40px;
  line-height: 50px;
}

.contact{
  height: 200px;
  line-height: 1rem;
  margin-bottom: 40px;
}

.footer{
  margin-top: 40px;
  margin: auto;
  text-align: left;
  padding-left: 20px;
}